<form action=".." method="post">
	<table>
		<% properties.forEach(function(property){ %>
			<tr>
				<th><%= property %></th>
				<td><input type="text" name="<%= property %>" value=""></td>
			</tr>
		<% }); %>
		<tr>
			<th></th>
			<td><input type="submit" value="Create"></td>
		</tr>
	</table>
</form>