<table>
	<form action=".." method="post">
		<input type="hidden" name="_method" value="put">
		<% properties.forEach(function(property){ %>
			<tr>
				<th><%= property %></th>
				<td><input type="text" name="<%= property %>" value="<%= (typeof resource[property] !== 'undefined') ? resource[property] : '' %>"></td>
			</tr>
		<% }); %>
		<tr>
			<th></th>
			<td><input type="submit" value="Update"></td>
		</tr>
	</form>
	<form action=".." method="post" onsubmit="return confirm('Do you really want to delete this resource?');">
		<tr>
		<input type="hidden" name="_method" value="delete">
			<th></th>
			<td><input type="submit" value="Delete"></td>
		</tr>
	</form>
</table>
