<a href="create">Create</a>
<table>
	<tr>
		<% var overviewProperties = settings.options.overviewProperties.length ? settings.options.overviewProperties : properties; %>
		<% overviewProperties.forEach(function(property){ %>
			<th><%= property %></th>
		<% }); %>
		<th>Actions</th>
	</tr>
	<% resources.forEach(function(resource){ %>
		<tr>
			<% overviewProperties.forEach(function(property){ %>
				<td>
					<% if(typeof resource[property] !== 'undefined'){ %>
						<%= resource[property] %>
					<% } %>
				</td>
			<% }); %>
			<td>
				<a href="<%= resource._id %>/">View</a>
				<a href="<%= resource._id %>/edit">Edit</a>
			</td>
		</tr>
	<% }); %>
</table>